 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a Cybersecurity student currently enrolled at Marist College. While I love learning about networks and computers I am also a huge sports fan and have been a New Jersey Devils and New York Jets fan for as long as I can remember.
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>Aside from playing pick up basketball I also enjoy biking and walking forest trails.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    
                </div>
            </div>
        </div>
    </section>